In [ ]:
import numpy as np
import pandas as pd

1. >Create a 10 by 10 matrix and name the columns A to....
( use integer random values from 0 to 20)

> Visualise the first three rows and last three rows

In [ ]:
my_mat=np.random.randint(0,20,(10,10))

In [ ]:
my_mat

array([[ 9, 17, 11, 13, 18,  4, 11, 17,  0, 15],
       [ 2,  5, 12, 18, 17,  6, 14, 16, 16,  5],
       [18,  7, 14, 14,  1,  4, 16,  9, 12, 18],
       [ 9, 10,  6,  3, 17, 14, 12,  6, 10, 16],
       [ 6, 17, 13, 18, 18,  3, 13, 14,  2,  2],
       [ 2,  1,  8,  2,  2, 18, 16, 10,  6, 14],
       [13,  3,  1,  3,  7, 11,  8,  8, 12, 14],
       [ 6, 12,  9,  6, 15,  4,  9,  0,  2,  0],
       [ 7, 13,  5, 14,  0, 17, 15, 10,  1,  4],
       [11, 10,  0,  1, 17, 11,  8, 18, 15,  7]])

In [ ]:


my_df=pd.DataFrame(my_mat, columns='A B C D E F G H I J'.split())

In [ ]:
my_df.head(3)

    A   B   C   D   E  F   G   H   I   J
0   9  17  11  13  18  4  11  17   0  15
1   2   5  12  18  17  6  14  16  16   5
2  18   7  14  14   1  4  16   9  12  18

In [ ]:
my_df.tail(3)

    A   B  C   D   E   F   G   H   I  J
7   6  12  9   6  15   4   9   0   2  0
8   7  13  5  14   0  17  15  10   1  4
9  11  10  0   1  17  11   8  18  15  7

2. > Create a function that returns square of a given number and apply to to column A of your Dataframe

In [ ]:
def funci(x):
  return x**2

In [ ]:
my_df[['A']].apply(funci)

     A
0   81
1    4
2  324
3   81
4   36
5    4
6  169
7   36
8   49
9  121

In [ ]:
my_df

Well, This seemed to have been temporary, Can you do it permanently?

In [ ]:
my_df['A']=my_df['A'].apply(funci)

In [ ]:
my_df

2. > Now recall your data frame columns and rows

Whats the size of your Dataframe?

In [ ]:
my_df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')

In [ ]:
my_df.index

RangeIndex(start=0, stop=10, step=1)

In [ ]:
my_df.shape

(10, 10)

3. > Sort the values in your matrix by using column J in ascending order

In [ ]:
my_df.sort_values('J')  # Pay attention to the Index values

Is it permanenet?  Check it, and then find a way to make it permanenet

In [ ]:
my_df.sort_values('J',inplace=True)

In [ ]:
my_df

4. > Lets say you just made a mistake and you want to go back to the original order in your dataframe... how can you do it? ( remember the order of the index values)

In [ ]:
my_df.reset_index()

##oops,  when you used inplace=True,   its done for good. You can reset the index values to be in order , but the J column wont revert back to what it was

In [ ]:
my_df  #  But as you see, the reset_index() function was not permanenet either

In [ ]:
my_df.reset_index(inplace=True)
my_df

Ooohh , we seem to have a new column.. lets check it

In [ ]:
my_df.columns

Index(['index', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')

How can we convert one of the columns into index?

In [ ]:

my_mat=np.random.randint(0,20,(10,10))
my_df=pd.DataFrame(my_mat, columns='A B C D E F G H I J'.split())

In [ ]:
my_df

    A   B   C   D   E   F   G   H   I   J
0  10  19   3  18  19  10   5  13   7  18
1   1   9  10  13   8  11  14   8  17  12
2   4   0  10   9   9  19  13   3   9   3
3   7  17  15   3  18  14  14   6   9   6
4   6  13  12   3   9  14  16  18  18   8
5  13   4   2  11   1  18  14  19   0   1
6   7   5   8   6   2   7  11   4  15   8
7  16  10   3   3  15  18   5   2  17  17
8  13  16  19  14   3  15   6   9   8   5
9   4   6   1  13   6  10   0  12   6  10

In [ ]:
my_df.reset_index(inplace=True)
my_df

   index   A   B   C   D   E   F   G   H   I   J
0      0  10  19   3  18  19  10   5  13   7  18
1      1   1   9  10  13   8  11  14   8  17  12
2      2   4   0  10   9   9  19  13   3   9   3
3      3   7  17  15   3  18  14  14   6   9   6
4      4   6  13  12   3   9  14  16  18  18   8
5      5  13   4   2  11   1  18  14  19   0   1
6      6   7   5   8   6   2   7  11   4  15   8
7      7  16  10   3   3  15  18   5   2  17  17
8      8  13  16  19  14   3  15   6   9   8   5
9      9   4   6   1  13   6  10   0  12   6  10

In [ ]:
my_df.columns

Index(['index', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')

In [ ]:
my_df.set_index('index',inplace=True)

In [ ]:
my_df

        A   B   C   D   E   F   G   H   I   J
index
0      10  19   3  18  19  10   5  13   7  18
1       1   9  10  13   8  11  14   8  17  12
2       4   0  10   9   9  19  13   3   9   3
3       7  17  15   3  18  14  14   6   9   6
4       6  13  12   3   9  14  16  18  18   8
5      13   4   2  11   1  18  14  19   0   1
6       7   5   8   6   2   7  11   4  15   8
7      16  10   3   3  15  18   5   2  17  17
8      13  16  19  14   3  15   6   9   8   5
9       4   6   1  13   6  10   0  12   6  10

##  So Do you see, how confusion and distortion in the main data can occur if you are not careful.  At the moment our Index column is distorted.

Lets start again...

> We will create a column called Index, and fill it up accordingly, then we will set it as index.

Try doing it, and then look below

In [ ]:

my_mat=np.random.randint(0,20,(10,10))
my_df=pd.DataFrame(my_mat, columns='A B C D E F G H I J'.split())

In [ ]:
my_df

    A   B   C   D   E   F   G   H   I   J
0  17  14   1   5   2  15  12   2   3   6
1  15  19   1   9  17  16  13   4   0  19
2   5   6  16   1  10  10   8  14   2  14
3  12  14   7  12  16   8   2   5   7   1
4  16  17  19  15  12  18  16  16   9   2
5   2  10   3  12   5  19   6   0  18  16
6   3   2   8   3   0  12   0  12   4   7
7   3  18   7  13  13  13  13  12  12   8
8   8   5   0  19   4   5   6   6  10   6
9  11   1  15  12  16  13  16   9   8   3

In [ ]:
my_df['Index']=(np.arange(10))

In [ ]:
my_df

    A   B   C   D   E   F   G   H   I   J  Index
0  17  14   1   5   2  15  12   2   3   6      0
1  15  19   1   9  17  16  13   4   0  19      1
2   5   6  16   1  10  10   8  14   2  14      2
3  12  14   7  12  16   8   2   5   7   1      3
4  16  17  19  15  12  18  16  16   9   2      4
5   2  10   3  12   5  19   6   0  18  16      5
6   3   2   8   3   0  12   0  12   4   7      6
7   3  18   7  13  13  13  13  12  12   8      7
8   8   5   0  19   4   5   6   6  10   6      8
9  11   1  15  12  16  13  16   9   8   3      9

In [ ]:
my_df.set_index('Index',inplace=True)

In [ ]:
my_df

        A   B   C   D   E   F   G   H   I   J
Index
0      17  14   1   5   2  15  12   2   3   6
1      15  19   1   9  17  16  13   4   0  19
2       5   6  16   1  10  10   8  14   2  14
3      12  14   7  12  16   8   2   5   7   1
4      16  17  19  15  12  18  16  16   9   2
5       2  10   3  12   5  19   6   0  18  16
6       3   2   8   3   0  12   0  12   4   7
7       3  18   7  13  13  13  13  12  12   8
8       8   5   0  19   4   5   6   6  10   6
9      11   1  15  12  16  13  16   9   8   3

>> Conditionla manipulation of the dataframe and adding new columns

5. > Add new columns that will indicate High values in Column A an B , we want to see where values are above 15

In [ ]:

my_df['A_analysis']= ['HIGH' if x >=15 else 'LOW' for x in my_df['A']]

In [ ]:
my_df

##OR

In [ ]:
my_df.loc[my_df['B']>=15,'B_analysis']='High'
my_df.loc[my_df['B']<=15,'B_analysis']='Low'

In [ ]:
my_df

6. > Add a new column which indicates if the sum of the rows is Above 90

We will use a for loop

In [ ]:
my_mat=np.random.randint(0,20,(10,10))  # generating the matrix from fresh
my_df=pd.DataFrame(my_mat, columns='A B C D E F G H I J'.split())

In [ ]:
my_df['Total']=0 # First create a new column and the associate values to 0
for i in range(10):
    my_df['Total'][i]=sum(my_df.iloc[i,:].values)   # Run a for loop and fill new new columns with sum of the rows

In [ ]:
my_df

In [ ]:
my_df['Total']=['HIGH' if x >=90 else 'LOW' for x in my_df['Total']]

In [ ]:
my_df